@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.myhabits {
  background-color: $wehabit-green;
  padding: 0px 16px 16px 16px;

  @include tablet {
    padding: 0px 24px 24px 24px;
  }

  @include desktop {
    @include desktop-width;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__username {
    margin: 0;
    padding: 0px 0px 0px 0px;

    @include tablet {
      margin: 16px 0px 10px 0px;
      padding: 0;
    }
  }

  &__add-habit {
    @include button;
    font-size: 15px;

    @include tablet {
      font-size: 18px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #000;
    background-color: $white;
    padding: 16px 16px 16px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 10px 5px 5px $wehabit-dark-green;

    @include tablet {
      padding: 24px 24px 24px 24px;
    }
  }

  &__dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__month-year {
    width: 17%;
    margin: 0px 16px 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $wehabit-dark-green;

    @include tablet {
      justify-content: center;
    }
  }

  &__date {
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $wehabit-dark-green;
    font-weight: 700;
  }
}
