@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.myhabits {
  background-color: $wehabit-green;
  padding: 0px 16px 0px 16px;

  @include desktop {
    @include desktop-width;
  }

  &__header {
    margin: 0;
    padding: 32px 0px 24px 0px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #000;
    background-color: $white;
  }

  &__dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    width: 25%;
    font-size: 16px;
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date {
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }

  &__habit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
  }

  &__check {
    // width: 25px;
    min-width: 5%;
    max-width: 8%;
    margin: 0;
    border-radius: 5px;
    accent-color: $wehabit-green;
    cursor: pointer;
  }
}
