@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.encouragemints {
  background-color: $wehabit-green;
  padding: 0px 16px 16px 16px;

  @include tablet {
    padding: 0px 24px 24px 24px;
  }

  @include desktop {
    @include desktop-width;
  }

  &__header {
    margin: 0;
    padding: 32px 0px 24px 0px;

    @include tablet {
      padding: 32px 0px 16px 0px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #000;
    background-color: $white;
    padding: 0px 16px 16px 16px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 10px 5px 5px $wehabit-dark-green;

    @include tablet {
      flex-direction: column;
      padding: 24px 24px 24px 24px;
    }
  }

  &__encouragemint {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    @include tablet {
      width: 100%;
      border-radius: 5px;
      padding-right: 24px;
    }
  }

  &__author {
    margin: 0;
    font-size: 15px;
    padding: 16px 0;

    @include tablet {
      font-size: 20px;
    }
  }

  &__title {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 16px 0px;
  }
}
