@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.encouragemints {
  background-color: $wehabit-green;
  padding: 0rem 1rem 1rem 1rem;

  @include tablet {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }

  @include desktop {
    @include desktop-width;
  }

  &__header {
    margin: 0;
    padding: 2rem 0rem 1.5rem 0rem;

    @include tablet {
      padding: 2rem 0rem 1rem 0rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: .0625rem solid #000;
    background-color: $white;
    padding: 0rem 1rem 1rem 1rem;
    box-sizing: border-box;
    border-radius: .3125rem;
    box-shadow: .625rem .3125rem .3125rem $wehabit-dark-green;

    @include tablet {
      flex-direction: column;
      padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    }
  }

  &__encouragemint {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    @include tablet {
      width: 100%;
      border-radius: .3125rem;
      padding-right: 1.5rem;
    }
  }

  &__author {
    margin: 0;
    font-size: .9375rem;
    padding: 1rem 0;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__title {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 0rem 1rem 0rem;
  }
}
