// FONT FAMILIES
@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url("../../assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  src: url("../../assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf")
    format("opentype");
}
