/*
COLOR VARIABLES
*/
//Primary
$wehabit-black: #111111; //global text
$wehabit-green: #c5f0a4; //WeHabit logo background label
$wehabit-dark-green: #547a57; //box shadow
$white: #ffffff; //gloabl white

//Secondary
$slate: #5c667e; //table column headers & placeholder text
$cloud: #bdc5d5; //outlines, dividers, borders, table sorting icon

//Background
$graphite: #232940; //top nav header bg, CTA button hover state bg
$light-grey: #f7f8f9; //page bg, table col header bg, CTA bg

//Supporting
$red: #c94515; //"Out of stock" label, error states & delete icon

//Color Scheme
$mint: #48a684;
$green-sheen: #7cb896;
$eton-blue: #9cc8a4;
$light-moss: #b6d4ae;
$steel-blue: #417db0;
$metallic-blue: #285083;

/*
BREAKPOINT VARIABLES
*/
$mobile-breakpoint: 20rem; //20rem - 47.9375rem
$tablet-breakpoint: 48rem; //48rem - 79.9375rem
$desktop-breakpoint: 80rem; //80rem+
