@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.habit-details {
  color: black;
  background-color: $wehabit-green;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include desktop {
    @include desktop-width;
  }

  &__card {
    @include card;
    margin: 1rem;
    width: 92%;

    @include tablet {
      width: 50%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;

    &-header {
      font-size: 17px;

      @include tablet {
        font-size: 19px;
      }
    }
  }

  &__link {
    text-decoration: none;
  }

  &__button {
    @include button;
    color: $white;

    &-container {
      display: flex;
      justify-content: center;
    }
  }
}
