@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: $wehabit-green;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    @include desktop-width;
  }

  &__home {
    width: 12.5rem;

    @include tablet {
      display: flex;
      justify-content: flex-start;
      padding-left: 2rem;
    }
  }

  &__logo {
    width: 100%;
    border-radius: 50%;
  }

  &__navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include tablet {
      width: 30%;
      justify-content: space-between;
      align-items: center;
      padding-right: 2rem;
    }
  }

  &__link {
    @include tablet {
      padding-right: 1rem;
    }
  }

  &__link,
  &__home {
    text-decoration: none;
    color: $wehabit-black;
    font-weight: 700;
  }
}
