@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {
  color: black;
  background-color: $wehabit-green;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include desktop {
    @include desktop-width;
  }

  &__logo {
    width: 18.4375rem;
    border-radius: .3125rem;
    margin: 1rem;

    @include tablet {
      width: 21.875rem;
    }
  }

  &__card {
    @include card;
    margin: 16px;
    width: 92%;

    @include tablet {
      width: 50%;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__redirect {
    text-decoration: none;
    color: $wehabit-black;

    &-message {
      &:hover {
        color: $green-sheen;
        text-decoration: underline;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0rem 0rem 0rem;
  }

  &__email,
  &__password {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    &-label {
      width: 5rem;
    }

    &-input {
      @include input;
    }
  }
  
  &__error {
    color: red;
  }

  &__button {
    @include button;
    color: $white;

    &-container {
      display: flex;
      justify-content: center;
    }
  }
}
