@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.habit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  gap: .3125rem;

  &__title {
    width: 17%;
    margin: 0rem 1rem 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include tablet {
      justify-content: center;
    }
  }

  &__check {
    width: 10%;
    height: 3rem;
    margin: 0;
    border-radius: .3125rem;
    accent-color: $wehabit-green;
    cursor: pointer;

    &--disabled {
      pointer-events: none;
    }

    @include tablet {
      height: 3.5rem;
    }
  }
}
