//Link Components' SASS Styling
@use "./components/Header/Header.scss" as *;
@use "./components/MyHabits/MyHabits.scss" as *;
@use "./components/EncourageMints/EncourageMints.scss" as *;

// Link Partials SASS Styling
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.App {
  font-family: "Avenir Next";
  background-color: $wehabit-green;
}

h1 {
  font-size: 24px;
  line-height: 36px;

  @include tablet {
    font-size: 32px;
    line-height: 40px;
  }
}

h2 {
  font-size: 13px;

  @include tablet {
    font-size: 20px;
  }
}

h3 {
  font-size: 15px;

  @include tablet {
    font-size: 17px;
  }
}

p {
  font-size: 15px;

  @include tablet {
    font-size: 16px;
  }
}

span {
  font-size: 13px;

  @include tablet {
    font-size: 15px;
  }
}
